@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./graph-pattern.gif), radial-gradient(58.79% 82.68% at 19.65% 7.75%, #272727 0, #171717 100%);
  background-blend-mode: multiply, normal;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes flicker {
  0% {
    filter: drop-shadow(0 0 0);
  }
  100% {
    filter: drop-shadow(0 0 20px rgba(250,204,21,0.5));
  }
}

::selection {
  background-color: rgba(250,204,21,0.7);
  color: black;
}

@keyframes slide {
  from {
    right: -20px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

div {
  will-change: transform;
  transition: transform 0.5s ease;
}